/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 10pt;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BodyText /* Body Text */
{
 font-family: 'Book Antiqua';
}
span.f_BodyTextBeforeList /* Body Text Before List */
{
 font-family: 'Book Antiqua';
}
span.f_BulletL1 /* Bullet L1 */
{
 font-family: 'Book Antiqua';
}
span.f_BulletL1Last /* Bullet L1 Last */
{
 font-family: 'Book Antiqua';
}
span.f_BulletL2 /* Bullet L2 */
{
 font-family: 'Book Antiqua';
}
span.f_BulletL2Last /* Bullet L2 Last */
{
 font-family: 'Book Antiqua';
}
span.f_CodeExample /* Code Example */
{
 font-size: 8pt;
 font-family: 'Courier New';
}
span.f_Command /* Command */
{
 font-family: 'Century Gothic';
 font-weight: bold;
}
span.f_Comment /* Comment */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 9pt;
 font-family: 'Courier New';
}
span.f_Heading1 /* Heading1 */
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_InternalHeading /* Internal Heading */
{
 font-style: italic;
 font-weight: bold;
}
span.f_L1Indent /* L1 Indent */
{
 font-family: 'Book Antiqua';
}
span.f_L2Indent /* L2 Indent */
{
 font-family: 'Book Antiqua';
}
span.f_Notes /* Notes */
{
}
span.f_TableBodyText /* Table Body Text */
{
 font-size: 8pt;
}
span.f_TableColumnHead /* Table Column Head */
{
 font-size: 8pt;
 font-weight: bold;
}
span.f_TextAsShownonScreen /* Text As Shown on Screen */
{
 font-family: Tahoma;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_BodyText /* Body Text */
{
 margin: 0px 0px 10px 0px;
}
.p_BodyTextBeforeList /* Body Text Before List */
{
 margin: 0px 0px 5px 0px;
}
.p_BulletL1 /* Bullet L1 */
{
 text-indent: -24px;
 margin: 0px 0px 5px 48px;
}
.p_BulletL1Last /* Bullet L1 Last */
{
 text-indent: -24px;
 margin: 0px 0px 14px 48px;
}
.p_BulletL2 /* Bullet L2 */
{
 text-indent: -24px;
 margin: 0px 0px 3px 96px;
}
.p_BulletL2Last /* Bullet L2 Last */
{
 text-indent: -24px;
 margin: 0px 0px 10px 96px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
}
.p_Comment /* Comment */
{
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_InternalHeading /* Internal Heading */
{
 margin: 14px 0px 10px 0px;
}
.p_L1Indent /* L1 Indent */
{
 margin: 0px 0px 10px 48px;
}
.p_L2Indent /* L2 Indent */
{
 margin: 0px 0px 10px 96px;
}
.p_Notes /* Notes */
{
}
.p_TableBodyText /* Table Body Text */
{
}
.p_TableColumnHead /* Table Column Head */
{
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
